<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Note</title>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container mt-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h2 class="mb-5 text-center">Note du patient</h2>
                <form th:action="@{/note}" th:object="${note}" method="post">
                    <input type="hidden" th:field="*{id}"> 
                    <input type="hidden" th:field="*{patientId}">

                    <div class="row g-3">
                        <div class="col-md-12 mb-3">
                            <textarea class="form-control" th:field="*{note}" rows="4" required></textarea>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary"
                                th:text="${isNew} ? 'Créer' : 'Mettre à jour'"></button>
                        <a th:href="@{/patient/{id}(id=${note.patientId})}"
                           class="btn btn-outline-secondary">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>